<orderbook-component>
    <link rel="stylesheet" href="/style/realtime/orderbook/orderbook.component.css">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;text-align:center">
        <div class="card-header">BTC/USD</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
    </div>
</orderbook-component>