<livestream-component>

    <link rel="stylesheet" href="/style/components/home/home.component.css">
    <h4> Historical datas</h4>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;text-align:center">
                <div class="card-header">BTC/USD</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>

            </div>

        </div>
        <div class="col-sm-9">

            <div>
                <canvas id="chartJSContainer" width="600" height="200"></canvas>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <div><canvas id="chartJSContainer2" width="600" height="200"></canvas></div>
        </div>
    </div>



    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
    <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</p>
    <br><br>
    <h4>RECENT POSTS</h4>
    <hr>
    <h2>Officially Blogging</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
    <h5><span class="label label-success">Lorem</span></h5><br>

    <hr>

    <h4>Leave a Comment:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br><br>

    <p><span class="badge">2</span> Comments:</p><br>

    <div class="row">
        <div class="col-sm-2 text-center">

        </div>
        <div class="col-sm-10">

            <h4>Anja Sep 29, 2015, 9:12 PM</h4>
            <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <br>
        </div>
        <div class="col-sm-2 text-center">

        </div>
        <div class="col-sm-10">
            <h4>John Row Sep 25, 2015, 8:25 PM</h4>
            <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.</p>
            <br>
            <p><span class="badge">1</span> Comment:</p><br>
            <div class="row">
                <div class="col-sm-2 text-center">

                </div>
                <div class="col-xs-10">
                    <h4>Nested Bro Sep 25, 2015, 8:28 PM</h4>
                    <p>Me too! WOW!</p>
                    <br>
                </div>
            </div>
        </div>
    </div>

</livestream-component>