.underline_period { 
  color :  #6200ee;
  border-bottom: 3px solid #6200ee;
  padding-bottom: 3px
}

td { 
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  candlestick-component {
      display : none;
  }
}